@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f9fafe;
}

.slower {
  animation-duration: 1.5s;
}

#toggleCaption::after,
#toggleKeywords::after,
#toggleShare::after,
#toggleRegenImage::after,
#toggleRegenCaption::after,
#toggleRegenKeywords::after {
  content: '';
  @apply h-8 w-8 rounded-full bg-red absolute left-0 top-0 transform scale-110 transition duration-200;
}

#toggleCaption:checked::after,
#toggleKeywords:checked::after,
#toggleShare:checked::after,
#toggleRegenImage:checked::after,
#toggleRegenCaption:checked::after,
#toggleRegenKeywords:checked::after {
  @apply transform scale-110 translate-x-8 bg-main;
}

.admin-sidebar {
  height: calc(100vh - 95px);
}

.messenger {
  height: calc(100vh - 130px);
  display: flex;
}

.chatMenu {
  flex: 3;
}

.chatMenuInput {
  width: 90%;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid gray;
}

.chatBox {
  flex: 7;
}

.chatBoxWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.chatBoxTop {
  height: 100%;
  overflow-y: scroll;
  padding-right: 10px;
}

.chatBoxBottom {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chatMessageInput {
  width: 90%;
  height: 90px;
  padding: 10px;
}

.chatMenuWrapper,
.chatBoxWrapper {
  padding: 10px;
  height: 100%;
}

.conversation {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  margin-top: 20px;
}

.conversation:hover {
  background-color: rgb(245, 243, 243);
}

.conversationImg {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.conversationName {
  font-weight: 500;
}

.message {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.messageTop {
  display: flex;
}

.messageImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.messageText {
  padding: 10px;
  border-radius: 20px;
  background-color: rgb(245, 241, 241);
  color: black;
  max-width: 300px;
}

.messageBottom {
  font-size: 12px;
  margin-top: 10px;
}

.message.own {
  align-items: flex-end;
}

.message.own .messageText {
  background-color: #1877f2;
  color: white;
}

.noConversationText {
  position: absolute;
  top: 10%;
  font-size: 50px;
  color: rgb(224, 220, 220);
  cursor: default;
}

.pulse-container button::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  outline: 2px solid #00df9a;
  border-radius: 50px;
  outline-offset: 2px;
  outline-width: 2px;
  animation: animate 1s linear infinite;
}

@keyframes animate {
  0% {
    outline-offset: 2px;
    opacity: 1;
  }
  100% {
    outline-offset: 7px;
    opacity: 0;
  }
}

.chatBoxTop::-webkit-scrollbar {
  display: none;
}

.chatBoxTop::-webkit-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.infinite-scroll-component {
  overflow: hidden !important;
}
